
<div>
    <h2><span data-translate="kaoguanApp.activity.detail.title">Activity</span> {{vm.activity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="kaoguanApp.activity.name">Name</span></dt>
        <dd>
            <span>{{vm.activity.name}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.description">Description</span></dt>
        <dd>
            <span>{{vm.activity.description}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.originaztion">Originaztion</span></dt>
        <dd>
            <span>{{vm.activity.originaztion}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.dateTime">Date Time</span></dt>
        <dd>
            <span>{{vm.activity.dateTime | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.ageRanger">Age Ranger</span></dt>
        <dd>
            <span>{{vm.activity.ageRanger}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.price">Price</span></dt>
        <dd>
            <span>{{vm.activity.price}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.remark">Remark</span></dt>
        <dd>
            <span>{{vm.activity.remark}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.locationCity">Location City</span></dt>
        <dd>
            <span>{{vm.activity.locationCity}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.address">Address</span></dt>
        <dd>
            <span>{{vm.activity.address}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.starCount">Star Count</span></dt>
        <dd>
            <span>{{vm.activity.starCount}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.joinPersonCount">Join Person Count</span></dt>
        <dd>
            <span>{{vm.activity.joinPersonCount}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.commentCount">Comment Count</span></dt>
        <dd>
            <span>{{vm.activity.commentCount}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.image1">Image 1</span></dt>
        <dd>
            <span class="form-control-static"><img ng-if="vm.activity.image1 != null" ng-src="/assets/images/upload/{{vm.activity.image1}}" style="height:100px;width:100px" alt="slide1"></span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.image2">Image 2</span></dt>
        <dd>
            <span class="form-control-static"><img ng-if="vm.activity.image1 != null" ng-src="/assets/images/upload/{{vm.activity.image2}}" style="height:100px;width:100px" alt="slide1"></span>

        </dd>
        <dt><span data-translate="kaoguanApp.activity.image3">Image 3</span></dt>
        <dd>
            <span class="form-control-static"><img ng-if="vm.activity.image1 != null" ng-src="/assets/images/upload/{{vm.activity.image3}}" style="height:100px;width:100px" alt="slide1"></span>

        </dd>
        <dt><span data-translate="kaoguanApp.activity.image4">Image 4</span></dt>
        <dd>
            <span class="form-control-static"><img ng-if="vm.activity.image1 != null" ng-src="/assets/images/upload/{{vm.activity.image4}}" style="height:100px;width:100px" alt="slide1"></span>

        </dd>
        <dt><span data-translate="kaoguanApp.activity.activityType">Activity Type</span></dt>
        <dd>
            <span data-translate="{{'kaoguanApp.ActivityType.' + vm.activity.activityType}}">{{vm.activity.activityType}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.createTime">Create Time</span></dt>
        <dd>
            <span>{{vm.activity.createTime | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.updateTime">Update Time</span></dt>
        <dd>
            <span>{{vm.activity.updateTime | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.delFlag">Del Flag</span></dt>
        <dd>
            <span>{{vm.activity.delFlag}}</span>
        </dd>
        <dt><span data-translate="kaoguanApp.activity.creator">Creator</span></dt>
        <dd>
            {{vm.activity.creator.login}}
        </dd>
        <dt><span data-translate="kaoguanApp.activity.updator">Updator</span></dt>
        <dd>
            {{vm.activity.updator.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="activity-detail.edit({id:vm.activity.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
