<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta content="target-densitydpi=device-dpi,width=640px,user-scalable=no" name="viewport">
    <title>发起同城活动</title>
    <link href="/assets/styles/css.css" rel="stylesheet" />

</head>

    <div class="wap_box">
        <div class="head2">
            <ul>
                <li class="hd2_back">
                    <a href="javascript:;">
                        <img src="/assets/images/back.png" /></a></li>
                <li class="hd2_select">
                    <!--<select id="areas" class="text" style="">
                        <option>上海</option>
                        <option>黄浦区</option>
                        <option>全部地区</option>
                    </select>-->
                </li>
                <li class="hd2_title">发起同城活动</li>
                <li style="width: 60px;"></li>
                <li class="hd2_select2 ">
                    <!--<select id="ages" class="text" style="">
                        <option>0-1岁</option>
                        <option>1-3岁</option>
                        <option>3-6岁</option>
                    </select>-->
            </ul>
        </div>


        <form name="editForm" role="form" novalidate ng-submit="vm.save()">

        <div class="fqt_bd">
            <div class="fqt_bd_list">
                <label class="control-label" data-translate="活动名称" for="field_name">活动名称</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       ng-model="vm.activity.name"
                />
            </div>
            <div class="fqt_bd_list">
                <label class="control-label" data-translate="主办机构" for="field_originaztion">主办机构</label>
                <input type="text" class="form-control" name="originaztion" id="field_originaztion"
                       ng-model="vm.activity.originaztion"
                />
            </div>

            <div class="fqt_bd_list">
                <label class="control-label" data-translate="活动城市" for="field_locationCity">活动城市</label>
                <input type="text" class="form-control" name="locationCity" id="field_locationCity"
                       ng-model="vm.activity.locationCity"
                />
            </div>
            <div class="fqt_bd_list">
                <label class="control-label" data-translate="活动地址" for="field_address">活动地址</label>
                <input type="text" class="form-control" name="address" id="field_address"
                       ng-model="vm.activity.address"
                />
            </div>


            <div class="fqt_bd_list">
                <label class="control-label" data-translate="活动时间">活动时间</label>
                <div class="input-group">
                <input id="field_datetime" type="text" class="form-control" name="datetime" datetime-picker="{{dateformat}}" ng-model="vm.activity.datetime" is-open="vm.datePickerOpenStatus.datetime"
                />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datetime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>





            <div class="fqt_bd_list2">
                <label class="control-label" data-translate="活动介绍" for="field_description">活动介绍</label>
                <textarea id="field_description"  name="description"
                          ng-model="vm.activity.description" onblur="if(!value){value=defaultValue;this.style.color='#d8d8d8'}"
                    onfocus="if(value==defaultValue){value='';this.style.color='#000'}">活动介绍</textarea>
                <div class="clearit"></div>
            </div>
            <div class="fqt_bd_list2">
            <label class="control-label" data-translate="年龄范围" for="field_ageRanger">Age Ranger</label>

            <select name="ageRanger" ng-model="vm.activity.ageRanger" id="field_ageRanger">
                <option value="0-1">0-1岁</option>
                <option value="1-3">1-3岁</option>
                <option value="3-6">3-6岁</option>
            </select>
            </div>
            <div class="fqt_bd_list3" >
                <ul>
                    <li>



                            <div class="fqt_bd_list3_kk" flow-init="{singleFile:false}" flow-files-submitted="$flow.upload()" flow-file-success="fileSuccess($flow, $file, $message,'image1')">


                                <div class="thumbnail" ng-show="$flow.files.length>0">
                                    <img flow-img="$flow.files[0]" />
                                </div>

                                <span class="btn btn-primary" ng-show="$flow.files.length<1" flow-btn>Select image</span>

                                <img ng-if="vm.activity.image1 != null" ng-src="/assets/images/upload/{{vm.activity.image1}}" style="height:80px;width:80px" alt="image1">

                            </div>



                    </li>
                    <li>
                        <div class="fqt_bd_list3_kk2" flow-init="{singleFile:false}" flow-files-submitted="$flow.upload()" flow-file-success="fileSuccess($flow, $file, $message,'image2')">

                            <div class="thumbnail" ng-show="$flow.files.length>0">
                                <img flow-img="$flow.files[0]" />
                            </div>

                            <span class="btn btn-primary" ng-show="$flow.files.length<1" flow-btn>Select image</span>
                        </div>
                    </li>
                    <li>
                        <div class="fqt_bd_list3_kk2" flow-init="{singleFile:false}" flow-files-submitted="$flow.upload()" flow-file-success="fileSuccess($flow, $file, $message,'image3')">

                            <div class="thumbnail" ng-show="$flow.files.length>0">
                                <img flow-img="$flow.files[0]" />
                            </div>

                            <span class="btn btn-primary" ng-show="$flow.files.length<1" flow-btn>Select image</span>
                        </div>
                    </li>
                    <li>
                        <div class="fqt_bd_list3_kk2" flow-init="{singleFile:false}" flow-files-submitted="$flow.upload()" flow-file-success="fileSuccess($flow, $file, $message,'image4')">

                            <div class="thumbnail" ng-show="$flow.files.length>0">
                                <img flow-img="$flow.files[0]" />
                            </div>

                            <span class="btn btn-primary" ng-show="$flow.files.length<1" flow-btn>Select image</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="fqt_bd_title">如果希望照片在首页美美的，就请上传正方形的照片哦！</div>



            <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary">Submit</button>
            <div class="clearit"></div>
        </div>

        </form>
        <div class="foot">
            <img src="/assets/images/ft.jpg" />
        </div>
        <div class="clearit"></div>
    </div>
</body>
</html>
